{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "Salesforce": {
        "Url": "https://YOUR-ORG--SANDBOX.sandbox.my.salesforce-setup.com",
        "ClientId": "YOUR_CONNECTED_APP_CONSUMER_KEY",
        "ClientSecret": "YOUR_CONNECTED_APP_CONSUMER_SECRET",
        "Username": "user@example.com.sandbox1",
        "Password": "YOUR_PASSWORD_OR_PASSWORD_PLUS_SECURITY_TOKEN"
    }
}
